---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=ZAR&ids=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"909583.81429002","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T04:11:00Z","circulating_supply":"18846843","max_supply":"21000000","market_cap":"17142783343265","market_cap_dominance":"0.4302","num_exchanges":"393","num_pairs":"66529","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"927639.83561852","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"630574138232.00","price_change":"23913.52856064","price_change_pct":"0.0270","volume_change":"-18651777617.27","volume_change_pct":"-0.0287","market_cap_change":"451612958444.65","market_cap_change_pct":"0.0271"},"7d":{"volume":"5008204642973.27","price_change":"41164.91387327","price_change_pct":"0.0474","volume_change":"-501401175906.43","volume_change_pct":"-0.0910","market_cap_change":"781331839449.95","market_cap_change_pct":"0.0478"},"30d":{"volume":"22350302243397.25","price_change":"195627.11436008","price_change_pct":"0.2740","volume_change":"288573093496.14","volume_change_pct":"0.0131","market_cap_change":"3706832207283.70","market_cap_change_pct":"0.2759"},"365d":{"volume":"316137502335122.06","price_change":"723027.11643606","price_change_pct":"3.8756","volume_change":"139108591566252.37","volume_change_pct":"0.7858","market_cap_change":"13687681101567.77","market_cap_change_pct":"3.9616"},"ytd":{"volume":"276397627011832.36","price_change":"406401.49509975","price_change_pct":"0.8077","volume_change":"130599825542819.93","volume_change_pct":"0.8958","market_cap_change":"7790162257867.88","market_cap_change_pct":"0.8329"}}]

        '
  recorded_at: Mon, 18 Oct 2021 04:11:15 GMT
recorded_with: VCR 6.0.0
