---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,XRP,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"61644.65956513","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T00:14:00Z","circulating_supply":"18846675","max_supply":"21000000","market_cap":"1161796864310","market_cap_dominance":"0.4272","num_exchanges":"393","num_pairs":"66516","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.66405500","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"40814715068.32","price_change":"576.57137978","price_change_pct":"0.0094","volume_change":"-6188389223.84","volume_change_pct":"-0.1317","market_cap_change":"10926422271.54","market_cap_change_pct":"0.0095"},"7d":{"volume":"315457932384.16","price_change":"3997.77864063","price_change_pct":"0.0693","volume_change":"-52279445109.50","volume_change_pct":"-0.1422","market_cap_change":"75712333627.77","market_cap_change_pct":"0.0697"},"30d":{"volume":"1477672498421.11","price_change":"13230.30566895","price_change_pct":"0.2733","volume_change":"-36036205537.47","volume_change_pct":"-0.0238","market_cap_change":"250697741080.91","market_cap_change_pct":"0.2752"},"365d":{"volume":"21574574819485.67","price_change":"50129.32498356","price_change_pct":"4.3533","volume_change":"10865243333166.22","volume_change_pct":"1.0146","market_cap_change":"948530495699.99","market_cap_change_pct":"4.4476"},"ytd":{"volume":"18955594956351.01","price_change":"28764.27428950","price_change_pct":"0.8748","volume_change":"10316256040583.23","volume_change_pct":"1.1941","market_cap_change":"550651017373.41","market_cap_change_pct":"0.9010"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3849.60176922","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T00:13:00Z"[...]
