---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"62362.44577212","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T03:25:00Z","circulating_supply":"18846812","max_supply":"21000000","market_cap":"1175333291327","market_cap_dominance":"0.4298","num_exchanges":"393","num_pairs":"66528","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.68217320","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"43548676952.04","price_change":"1028.11778634","price_change_pct":"0.0168","volume_change":"-2080711842.99","volume_change_pct":"-0.0456","market_cap_change":"19438812972.87","market_cap_change_pct":"0.0168"},"7d":{"volume":"338769970367.22","price_change":"4717.72306902","price_change_pct":"0.0818","volume_change":"-28967008445.00","volume_change_pct":"-0.0788","market_cap_change":"89281524857.03","market_cap_change_pct":"0.0822"},"30d":{"volume":"1500991232091.40","price_change":"13948.06542698","price_change_pct":"0.2881","volume_change":"-12946189075.22","volume_change_pct":"-0.0086","market_cap_change":"264225488331.17","market_cap_change_pct":"0.2900"},"365d":{"volume":"21597692346799.17","price_change":"50847.11201819","price_change_pct":"4.4156","volume_change":"10888356502151.92","volume_change_pct":"1.0167","market_cap_change":"962065210745.79","market_cap_change_pct":"4.5111"},"ytd":{"volume":"18979151413120.32","price_change":"29482.10519574","price_change_pct":"0.8966","volume_change":"10339814772700.94","volume_change_pct":"1.1968","market_cap_change":"564188275213.53","market_cap_change_pct":"0.9232"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3864.54126738","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T03:25:00Z"[...]
