---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"62515.88065359","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T05:45:00Z","circulating_supply":"18846906","max_supply":"21000000","market_cap":"1178230926185","market_cap_dominance":"0.4316","num_exchanges":"393","num_pairs":"66529","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.68217320","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"44393976407.94","price_change":"1668.82773769","price_change_pct":"0.0274","volume_change":"544439323.06","volume_change_pct":"0.0124","market_cap_change":"31515398743.28","market_cap_change_pct":"0.0275"},"7d":{"volume":"339806635011.61","price_change":"4871.15795048","price_change_pct":"0.0845","volume_change":"-27930345203.74","volume_change_pct":"-0.0760","market_cap_change":"92173395242.76","market_cap_change_pct":"0.0849"},"30d":{"volume":"1502026886363.16","price_change":"14101.50030844","price_change_pct":"0.2913","volume_change":"-11910534826.40","volume_change_pct":"-0.0079","market_cap_change":"267120702470.15","market_cap_change_pct":"0.2932"},"365d":{"volume":"21599166172023.15","price_change":"51000.54689966","price_change_pct":"4.4289","volume_change":"10889830327375.89","volume_change_pct":"1.0169","market_cap_change":"964961763162.41","market_cap_change_pct":"4.5246"},"ytd":{"volume":"18980187067415.00","price_change":"29635.54007720","price_change_pct":"0.9013","volume_change":"10340850426995.62","volume_change_pct":"1.1969","market_cap_change":"567085910071.52","market_cap_change_pct":"0.9279"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"3868.87034569","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T05:44:00Z"[...]
